# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.coverage.*

# Jupyter Notebook files
.ipynb_checkpoints

# PyCharm
.idea/
*.iml

# VS Code settings and workspace-specific files
.vscode/
*.code-workspace

# Virtual environments
venv/
ENV/
env.bak/
env/

# PyInstaller
# Usually these are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# Pyre type checker
.pyre/


# Windows
Thumbs.db
ehthumbs.db
*.bak
*.swp
